.contacts {
    padding: 120px 0px 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        column-gap: 40px;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding: 1px 0 0 12px;
        @include before_circle;
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        text-decoration: none;
        img {
            max-height: 30px;
            max-width: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 27px;
        label {
            display: block;
            position: absolute;
            border: 1px solid #c1c1c1;
            top: -9px;
            left: 12px;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
            transition: all .2s;
            &:hover {
                border: 1px solid #000;
            }
        }
        .error {
            box-shadow: 0 0 15px red;
            text-align: center;
        }
        label.error {
        position: absolute;
        left: 120px;
        border: 1px solid red;
		margin-bottom: 15px;
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy {
        position: relative;
        font-size: 12px;
        line-height: 24px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 /3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-size: 12px;
        }
    }
    &__btn {
        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
    }
}
#checkbox-error {
    top: 35px;
    left: -8px;
    margin-bottom: 0px;
    border: none;
    color: red;
    box-shadow: none;
}
